/* App Component classes starts here*/

body{
    background-color: #ECE2C8;
}

.formMainDiv {
    padding: 20px;
    background-color: white;
}

.formContainerDiv{
    padding: 20px;
    height: auto;
}

.formNestedChildDiv{
   padding: 10px;
}

/* App Component classes ends here*/


/* Button Classes starts here */
.btnMaindiv{
    display: flex;
}

.btnBack{
    margin: 10px 10px 0 0;
}

.btnNext{
    margin: 10px 0 0 0;
}
/* Button Classes Ends here */


/* ThankYou Component classes starts here*/
.tyTitleName{
    color: green;
}
/* ThankYou Component classes ends here*/

.css-1ygcj2i-MuiTableCell-root{
padding: 0 !important;
}

.css-1ex1afd-MuiTableCell-root{
padding: 0 !important;
}